In [1]:
# data manipulation 
import numpy as np
import pandas as pd

from datetime import datetime
import itertools

# data visualization 
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

%matplotlib inline

from sklearn.model_selection import TimeSeriesSplit

# ignore warnings
import warnings
warnings.filterwarnings("ignore")
import acquire
import prep

In [2]:
df= acquire.get_df()
df.head()

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,4/26/18,"2,635","2,931",1.38,2,"1,347",93,0,0,566
1,4/27/18,"3,649","9,971",4.70,19,"1,158",219,46,17,"1,752"
2,4/28/18,"3,379","3,521",1.66,2,702,155,22,11,"1,124"
3,4/29/18,"2,851","1,639",0.77,0,891,122,0,0,602
4,4/30/18,"2,825","1,323",0.62,0,880,104,0,0,540

In [9]:
df= prep.prep_df()
df.head()

,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
Date,,,,,,,,,
2018-04-26,2635.0,2931.0,1.38,2.0,1347.0,93.0,0.0,0.0,566.0
2018-04-27,3649.0,9971.0,4.70,19.0,1158.0,219.0,46.0,17.0,1752.0
2018-04-28,3379.0,3521.0,1.66,2.0,702.0,155.0,22.0,11.0,1124.0
2018-04-29,2851.0,1639.0,0.77,0.0,891.0,122.0,0.0,0.0,602.0
2018-04-30,2825.0,1323.0,0.62,0.0,880.0,104.0,0.0,0.0,540.0

#### Split Data for Steps

In [4]:
df2 = df.Steps.resample('D').sum().reset_index()

In [5]:
df.dtypes

Calories Burned           float64
Steps                     float64
Distance                  float64
Floors                    float64
Minutes Sedentary         float64
Minutes Lightly Active    float64
Minutes Fairly Active     float64
Minutes Very Active       float64
Activity Calories         float64
dtype: object

In [6]:
X = df2.index
y = df2.Steps

In [7]:
tss = TimeSeriesSplit(n_splits=5, max_train_size=None)

In [ ]:
for train_index, test_index in tss.split(X):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

In [ ]:
plt.plot(X_train, y_train)
plt.plot(X_test, y_test)

In [ ]:
y.plot(figsize=(15, 6))
plt.show()

### Sampling using percent split

In [ ]:
aggregation = 'sum'

ts_data = df.Steps.resample('D').agg(aggregation)

In [ ]:
train_size = int(len(ts_data) * 0.7)
train1, test1 = ts_data[0:train_size], ts_data[train_size:len(ts_data)]
print('Observations: %d' % (len(ts_data)))
print('Training Observations: %d' % (len(train1)))
print('Testing Observations: %d' % (len(test1)))

In [ ]:
plt.figure(figsize=(8, 4))
train1.plot()
test1.plot()
plt.show()

#### Moving Average

In [ ]:
train1.rolling(8).mean().plot(figsize=(12, 4))
plt.show()

In [ ]:
train1.rolling(2).mean().plot(figsize=(12, 4))
plt.show()

#### Time-series decomposition

In [ ]:
decomposition = sm.tsa.seasonal_decompose(train1.resample('D').mean(), model='additive')

fig = decomposition.plot()
plt.show()

#### Analyzing Lag

In [ ]:
pd.plotting.lag_plot(train1.resample('W').mean(), lag=1)

In [ ]:
#### Model

In [19]:
train, test = prep.test_train_split(df, .7)

TypeError: 'method' object is not subscriptable