In [9]:
# data manipulation 
import numpy as np
import pandas as pd

from datetime import datetime
import itertools

# data visualization 
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

%matplotlib inline

from sklearn.model_selection import TimeSeriesSplit

# ignore warnings
import warnings
warnings.filterwarnings("ignore")
import acquire
import prep

In [8]:
df= acquire.get_df()
df.head()

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,4/26/18,"2,635","2,931",1.38,2,"1,347",93,0,0,566
1,4/27/18,"3,649","9,971",4.70,19,"1,158",219,46,17,"1,752"
2,4/28/18,"3,379","3,521",1.66,2,702,155,22,11,"1,124"
3,4/29/18,"2,851","1,639",0.77,0,891,122,0,0,602
4,4/30/18,"2,825","1,323",0.62,0,880,104,0,0,540

In [18]:
df= prep.prep_df()
df.head()

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,2018-04-26,"2,635","2,931",1.38,2,"1,347",93,0,0,566
1,2018-04-27,"3,649","9,971",4.70,19,"1,158",219,46,17,"1,752"
2,2018-04-28,"3,379","3,521",1.66,2,702,155,22,11,"1,124"
3,2018-04-29,"2,851","1,639",0.77,0,891,122,0,0,602
4,2018-04-30,"2,825","1,323",0.62,0,880,104,0,0,540

In [ ]:
df2 = df.sale_amount.resample('D').sum().reset_index()